<h1>Create a new task</h1>
<%= form_for @task do |f| %>

	<%= f.label :title, "Task:" %>
	<%= f.text_field :title %>

	<%= f.label :category, "Category:" %>
	<%= f.text_field :category %>

	<%= f.label :priority, "Priority:" %>
	<%= f.select :priority, ['Low', 'Medium', 'High'], :prompt => 'Select One' %>

	<%= f.submit %>
<% end %>
